Automake.global
Makefile
Makefile.in
.deps
config.*
configure
aclocal.m4
autom4te.cache
depcomp
install-sh
missing
mkinstalldirs
libtool
stamp-h*
libug.pc
semantic.cache
ltmain.sh
ylwrap
compile
ug-config.cmake
ug-config-version.cmake

